#### Question 1
#### Consider the following Python module:
a = 0

def b():

 global a
 
 a = c(a)
 
def c(a):

 return a + 2

#### After importing the module into the interpreter, you execute:
 b()
 
 b()
 
 b()
 
 a

What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

# As the value of global variable - a is changed(incremented by 2 in the global value) everytime b() is called, it results in 6

6

#### Question 2
##### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:
 fileLength('midterm.py')
 
284

 fileLength('idterm.py')
 
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
    
##### As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:
    
 fileLength('midterm.py')
    
358

 fileLength('idterm.py')
    
File idterm.py not found.

In [39]:
def fileLength(filename):
    try:
        infile = open(filename)
        strAge = infile.read()
        print(len(strAge))
    except IOError:
        # if the file cannot be found by the interpreter
        print(filename,' - File not found.')
    except:
        # executed if an exception if it cannot be read as a text file
        print(filename, ' - File cannot be read as a text file!')

In [40]:
fileLength('Picture1')

Picture1  - File not found.

#### Question 3

#### Write a class named Marsupial that can be used as shown below:
 m = Marsupial()
    
 m.put_in_pouch('doll')

 m.put_in_pouch('firetruck')
    
 m.put_in_pouch('kitten')

 m.pouch_contents()
    
['doll', 'firetruck', 'kitten']

##### Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,

b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and

c. overloads the __str__ operator so it behaves as shown below.

 k = Kangaroo(0,0)
    
 print(k)

I am a Kangaroo located at coordinates (0,0)

 k.put_in_pouch('doll')

 k.put_in_pouch('firetruck')

 k.put_in_pouch('kitten')

 k.pouch_contents()

['doll', 'firetruck', 'kitten']

 k.jump(1,0)

 k.jump(1,0)

 k.jump(1,0)

 print(k)

I am a Kangaroo located at coordinates (3,0)

In [57]:
class Marsupial:
    def __init__(self):
        self.pouch_content = []
    
    def put_in_pouch(self, item):
        self.pouch_content.append(item)
    
    def pouch_contents(self):
        return print(self.pouch_content)
    
m = Marsupial()

m.put_in_pouch('doll')

m.put_in_pouch('firetruck')

m.put_in_pouch('kitten')

m.pouch_contents()

class Kangaroo(Marsupial):
    def __init__(self, xco, yco):
        Marsupial.__init__(self)
        self.xco = xco
        self.yco = yco
        
    def jump(self, dx, dy):
        self.xco = self.xco + dx
        self.yco = self.yco + dy
    
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.xco, self.yco)
    
    
k = Kangaroo(0,0)

print(k)
k.put_in_pouch('doll')

k.put_in_pouch('firetruck')

k.put_in_pouch('kitten')

k.pouch_contents()
k.jump(1,0)

k.jump(1,0)

k.jump(1,0)

print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

#### Question 4
##### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

x = {

𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛

3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑

Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

collatz(1)

1

collatz(10)

10

5

16

8

4

2

1

In [72]:
def collatz(x):
    print(x)
    if x > 1:
        if x % 2 == 0:
            x = int(x / 2)
            collatz(x)
        else:
            x = int(3 * x + 1)
            collatz(x)
    
collatz(10)

10
5
16
8
4
2
1

#### Question 5
#### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

binary(0)

0

binary(1)

1

binary(3)

11

binary(9)

1001

In [73]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end='')
    
input = int(input("Enter any decimal number: "))
binary(input)

Enter any decimal number: 9
1001

##### Question 6
##### Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

 infile = open('w3c.html')
 
 content = infile.read()
 
 infile.close()
 
 hp = HeadingParser()
 
 hp.feed(content)

W3C Mission

Principles

In [34]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
              
    def handle_starttag(self, tag, attrs):
        self.count = 0  
        if tag in ['h1','h2','h3','h4','h5','h6']:
            self.count = 1  
            self.heading = tag
            
    def handle_data(self, data):
        if self.count:
            tab = int(self.heading[1])
            print((tab-1)*"\t" + data, end ="")


hParser = HeadingParser()
file = open("w3c.html", "r")
html = file.read()
file.close()
hParser.feed(html)
html

W3C Mission
	Principles

'<html> \n<head> \n<title>W3C Mission Summary</title> \n</head>\n<body>\n<h1>W3C Mission</h1>\n<p>\nThe W3C mission is to lead the World Wide Web to its full potential<br>\nby developing protocols and guidelines that ensure the long-term growth of the Web.\n</p>\n<h2>Principles</h2>\n<ul>\n<li>Web for All</li>\n<li>Web on Everything</li>\n</ul>\nSee the complete <a href="http://www.w3.org/Consortium/mission.html">W3C Mission document</a>.\n</body>\n</html>'

#### Question 7
#### Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

    http://reed.cs.depaul.edu/lperkovic/csc242/test2.html

        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

    http://reed.cs.depaul.edu/lperkovic/csc242/test3.html

        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [56]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [70]:
def webdir(url, depth, indent):
    resource = urlopen(url)
    content = resource.read().decode('ISO-8859-1')
    collector = Collector(url)
    collector.feed(content)
    urllist = collector.getLinks()
    
    for each_url in urllist:
        if url in each_url:
            page_reachable = each_url
            print("{}{} ".format(indent*' ', page_reachable))
#             print(page_reachable)
            if depth>0:
                webdir(each_url, depth-1, indent+1)
        
#        if depth>0:
#             webdir(each_url, depth-1, indent+1)

In [71]:
webdir('http://reed.cs.depaul.edu/lperkovic/',2,0)
# As the sample output - website structure is changed , desired output can't be achieved using this site

http://reed.cs.depaul.edu/lperkovic/papers/papers.html

##### Question 8
#### Write SQL queries on the below database table that return:
a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

In [12]:
con = sqlite3.connect('weather.db')
cur = con.cursor()
cur.execute('CREATE TABLE Weather (City text, Country text, Season text,Temperature float,Rainfall float)')
cur.fetchall()

[]

In [25]:
cur.executemany("INSERT INTO Weather values(?,?,?,?,?)", (('Mumbai','India','Winter',24.8,5.9),
('Mumbai','India','Spring',28.4,16.2),
('Mumbai','India','Summer',27.9,1549.4),
('Mumbai','India','Fall',27.6,346.0),
('London','United Kingdom','Winter',4.2,207.7),
('London','United Kingdom','Spring',8.3,169.6),
('London','United Kingdom','Summer',15.7,157.0),
('London','United Kingdom','Fall',10.4,218.5),
('Cairo','Egypt','Winter',13.6,16.5),
('Cairo','Egypt','Spring',20.7,6.5),
('Cairo','Egypt','Summer',27.7,0.1),
('Cairo','Egypt','Fall',22.2,4.5)))

In [27]:
cur.execute("SELECT Temperature FROM Weather")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [28]:
cur.execute("SELECT DISTINCT City FROM Weather")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [29]:
cur.execute("SELECT * FROM Weather WHERE Country='India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [30]:
cur.execute("SELECT * FROM Weather WHERE Season='Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [31]:
cur.execute("SELECT City,Country,Season FROM Weather WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [33]:
cur.execute("SELECT City,Country FROM Weather WHERE Season='Fall' AND Temperature > 20 ORDER BY Temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [34]:
cur.execute("SELECT SUM(Rainfall) FROM Weather WHERE City = 'Cairo'")
cur.fetchall()

[(27.6,)]

In [35]:
cur.execute("SELECT Season,SUM(Rainfall) FROM Weather GROUP BY Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

#### Question 9
#### Suppose list words is defined as follows:
'>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### Write list comprehension expressions that use list words and generate the following lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] (the list of words in list words containing 4 or more characters.)'

In [37]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
lst = [x.upper() for x in words]
print(lst)
lst = [x.lower() for x in words]
print(lst)
lst = [len(x) for x in words]
print(lst)
lst = [[x.upper(),x.lower(),len(x)] for x in words]
print(lst)
lst = [x for x in words if len(x)>=4]
print(lst)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']